# Temporary files of building.
**/.temp.**

# For C and C++ problem-builds.
.ccls-cache/
**/compile_commands.json

# Executable of builds.
**/binary

# For the script to compare source files
# and only recompile when necessary.
**/compiled/

# For miscelanous.
/miscelanous/

# Monitoria (UnB) questions.
**/monitoria-**/

# Rnote files.
**/notas/
**/*.rnote

# Typst files.
**/*.typ